venv/
__pycache__/
*.pyc
.env

chroma_db/
mlruns/
mlflow.db
rag_system.log
query_metrics.jsonl

# Ignore all model files
models/

# Keep PDFs, ignore processed files (csv, json)
data/processed/

.DS_Store
Thumbs.db
